<div [@routerTransition]>
    <h2 class="text-muted">Dashboard
        <small>แอพทั้งหมด</small>
    </h2>
    <div class="row">
        <app-card></app-card>
        <!-- <div class="card">
            <div class="card__image"></div>
            <div class="card__title">AD Account Infomation</div>
        </div>


        <div class="card">
            <div class="card__image"></div>
            <div class="card__title">Mailbox Usage</div>
        </div>
        <div class="card">
            <div class="card__image"></div>
            <div class="card__title">VPN Info</div>
        </div>
        <div class="card">
            <div class="card__image"></div>
            <div class="card__title">Proxy Utilization</div>
        </div> -->
    </div>
</div>
