<div [@routerTransition]>
    <app-page-header [heading]="'อัพโหลดไฟล์'" [icon]="'fa-upload'"></app-page-header>
    <div class="row">
        <div class="col col-xl-5 col-lg-12">
            <div class="upload">
                <form action="#">
                    <input type="file" name="file_upload" id="fileUpload">
                    <div class="upload__drag_and_drop u-margin-medium">
                        <span>ลากไฟล์มาวาง</span>
                    </div>

                    <button class="btn btn-success form-control" type="button">เลือกไฟล์</button>
                </form>
            </div>
        </div>
        <div class="col col-xl-7 col-lg-12">
            <div class="display">
                <h5>{{ uploadStatus }}</h5>
                <div class="display__content flex u-margin-medium">
                    <div class="display__icon">
                        <i class="fa fa-check-circle"></i>
                    </div>
                    <div class="display__status">
                        <div class="display__filename">
                            <span>file upload 1.xlsx</span>
                        </div>
                        <div class="display__status">
                            100kb / 255kb
                        </div>
                    </div>
                </div>
                <div class="display__content flex u-margin-medium">
                    <div class="display__icon">
                        <i class="fa fa-check-circle"></i>
                    </div>
                    <div class="display__status">
                        <div class="display__filename">
                            <span>file upload 1.xlsx</span>
                        </div>
                        <div class="display__status">
                            100kb / 255kb
                        </div>
                    </div>
                </div>
                <div class="display__content flex u-margin-medium">
                    <div class="display__icon">
                        <i class="fa fa-check-circle"></i>
                    </div>
                    <div class="display__status">
                        <div class="display__filename">
                            <span>file upload 1.xlsx</span>
                        </div>
                        <div class="display__status">
                            100kb / 255kb
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
